#home h1 {
    font-size: 1.8em;
}

#home h1 span {
    font-size: 0.5em;
    color:#AAAAAA;
}

#settings .list-filter .scroll-content {
    position: absolute;
    width: 100.000000%;
    left: 5%;
    top: 4em;
    bottom: 5em;
}

#settings .list-filter .scroll-content .filter-option {
    padding: 0.4em;
}
/*
#settings .list-filter .scroll-content .filter-option {
    padding: 0.4em;
}*/

/* Inputs */

.slimy_slider {
    border: 1px solid white;
    width: 100%;
    height: 2em;
    position: relative;
    margin-bottom: 1em;
}
.slimy_slider .valueBar {
    position: absolute;
    height: 100%;
    background: white;
}
.slimy_slider .valueLabel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.333333em;
    font-size: 1.5em;
    color: rgb(60,60,60);
}
.slimy_slider.color {
    width: 80%;
}

.slimy_slider.slimyred .valueBar {
    background: red;
}

.slimy_slider.slimygreen .valueBar {
    background: green;
}

.slimy_slider.slimyblue .valueBar {
    background: blue;
}

.slimy_toggle {
    height: 2em;
    width: 2em;
    border: 1px solid white;
    margin-bottom: 0.5em
}
.slimy_toggle.checked {
    background: white;
}

.slimy_dropdown {
    border: 1px solid #59885d;
    width: 15em;
    height: 2em;
    position: relative;
    margin-bottom: 1em;
}
.slimy_dropdown.open {
    z-index: 10;
}
.slimy_dropdown:hover {
    background-color: rgba(27, 80, 55, 1);
}

.slimy_dropdown.open .valueList {
    display: block;
}

.slimy_dropdown .valueList .listValue:hover {
    background-color: rgba(27, 80, 55, 1);
}

.slimyColorPreview {
    width: 100px;
    height: 100px;
    margin-bottom: 1em;
}

#SlimySecret {
    height: 2em;
    margin-top: 0.5em;
    position: relative;
}

#slimyReload {
    position: absolute;
    top: 1em;
    left: 1em;
}

#slimyNewColor {
    border: 3px solid #59885d;
    font-size: 1.5em;
    width: 300px;
    border-radius: 0.25em;
    padding: 1.5% 1% 1.5% 2%;
    margin-left: 40%;
    margin-bottom: 1em;
}

/* Online Friends */

#friends .list-filter .content-btn.second[disabled] {
    background-color: #691900;
}

#friends .list-filter .content-btn.second[disabled]:hover {
    background-color: #691900 !important;
}

/* FIXME Disabled after r159 release, need to change or remove
.content-friends .list-content {
    width: 98%;
    height: 95%;
    padding-left: 1.5%;
    border: none;
}

.online-friend .content-cell-formatter {
    padding-top: 100%;
    margin-top: 5em;
}

.online-friend.content-cell {
    width: 32%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}
.online-friend .content-cell-content {
    left: 3.5%;
}

.online-friend .online-state {
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid #FFF;
    margin: 0.1em;

    z-index: 1;

    background: #00cc00;
}

.online-friend .content-name {
    bottom: 3em;
}

.online-friend .content-image {
    bottom: 5em;
}
*/

/* Feed */
/* FIXME Disabled after r159 release, need to change or remove
.content-feed {
    height: 36%;
}

.content-feed .feed-news {
    height: 90%;
    width: 98%;
    word-wrap: break-word;
    border: none;
    white-space: normal;
    overflow-x: visible;
    overflow-y: scroll;
}

.content-emotes .action-btn {
    padding: 40px 0;
    text-align: center;
}

.content-emotes {
    position: absolute;
    top: 48%;   
    width: 48%;
    padding: 1%;
    height: 20%;
    left: 26%;

    border-radius: 0.25em;
    border: 3px solid #FFFFFF;
}*/

.content .image, .toolbar .image {
    content: "";
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.content .image.enabled, .toolbar .image[data-contentImage="true"].enabled {
    background-image: url(background.png);
}

.toolbar .image {
    background-position: bottom;
}

.toolbar .image[data-contentImage="false"].enabled {
    background-image: url(background_toolbar.png);
}

.row-color-wrapper {
    border: 3px solid #59885d;
    border-radius: 0.25em;
    padding: 1.5% 1%;
    margin-bottom: 1em;
}
